#window,
#outer-box,
#input,
#inner-box,
#entry {
  font-family: "0xProto Nerd Font Mono";
  color: #ebdbb2;
}

#window {
  background-color: rgba(0,0,0,0); 
}

#outer-box {
  background-color: #272727;
  padding: 10px;
  border: 2px solid #83a597;
  border-radius: 8px;
}
#inner-box {
  background-color: #272727;
  padding: 10px;
  border-radius: 8px;
}

#input {
  margin-bottom: 10px;
  background-color: #272727;
  border-radius: 8px;
  outline: none;
}

#input:focused {
  border-radius: 8px;
}

#scroll {
  margin: 0px;
}

#text {
  margin: 5px;
}

#entry {
  padding: 5px;
  border: none;
  border-radius: 4px;
}

#entry:selected {
  font-weight: bold;
  background-color: #272727;
  border: 2px solid #83a597;
  border-radius: 8px;
}
